body {
  cursor: default;
  overflow: hidden;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(0,0,0);
}

.toolbar {
  width: 100%;
  height:50px;
  background-color: rgb(50,50,50);
  color: rgb(255,255,255);
  padding-top: 7px;
  padding-left: 7px;
}

.boards-list {
  width: 400px;
  display: block;
  float: left;
  background-color: rgb(50,50,50);
}

.boards-list #script {
/*  overflow: scroll;*/
  height: 100%;
}

.boards-list #boards {
  overflow: scroll;
  height: 100%;
  display: none;
}


.boards-list img {
  background-color: rgb(255,255,255);
  opacity: 0.8;
}

.aspect-ratio-2-35.boards-list img {
  height: 38px;
  width: 86px;
}

.aspect-ratio-1-85.boards-list img {
  height: 48px;
  width: 86px;
}

.aspect-ratio-1-78.boards-list img {
  height: 37px;
  width: 66px; /* 86? */
}

.aspect-ratio-1-33.boards-list img {
  height: 49px;
  width: 66px; /* 86? */
}

.boards-list img.selected {
  outline: 1px solid #ccc;
  opacity: 1;
}

.boards-list div {
  /*padding: 12px 4px;*/
  color: rgb(255,255,255);
}

/*.boards-list div:hover {
  background-color: rgb(40,40,40);
}

.boards-list div.selected {
  background-color: rgb(30,30,30) !important;
}*/

.drawing-canvas {
  position: relative;
  float: left;
  background-color: rgb(0,0,0);
}

.drawing-canvas:not(.disabled) {
  cursor: url(../img/cursor2.png) 50 50, crosshair;
}

.drawing-canvas .canvas {
  position: absolute;
  display: block;
  left: 0;
}

.drawing-canvas img {
  position: absolute;
  display: block;
}

.drawing-canvas .caption {
  position: relative;
  display: block;
  color: rgb(255,255,255);
  padding-top: 10px;
}

.drawing-canvas .canvas.white-bg {
  background-color: rgb(255,255,255);
  position: absolute;
  display: block;
  left: 0;
}

.timeline {
  clear: both;
  width: 100%;
  background-color: rgb(200,200,200);
  display: block;
}


.tabs {
  display: block;
  padding: 6px;
}

.tabs:after {
  display: block;
  content: '';
  clear: both;
}

.tabs .tab {
  float: left;
  padding: 10px 20px;
  border: 1px solid rgb(77,77,77);
  border-right: 0;
  cursor: pointer;
}

.tabs .tab:not(.disabled):hover {
  background-color: rgb(60,60,60);
}

.tabs .tab.selected {
  background-color: rgb(77,77,77);
}



.tabs .tab:first-child {
  border-radius: 3px 0 0 3px;
}

.tabs .tab:last-child {
  border-right: 1px solid rgb(77,77,77);
  border-radius: 0 3px 3px 0;
}

#script {
  padding-left: 10px;
}

#script .module {
  padding: 15px 6px;
  padding-left: 16px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#script .module:not(.selectable) {
  background-color: rgb(60, 60, 60) !important;
  color: rgba(255,255,255,0.8);
}

#script .module .slug {
  color: rgba(255,255,255,0.8) !important;
  font-size: 12px !important;
}

#script .module .title {
  color: rgba(255,255,255,1) !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

#script .module .synopsis {
  color: rgba(255,255,255,0.8) !important;
  font-size: 12px !important;
}


#script .module.selectable:hover {
  background-color: rgb(40,40,40) !important;
}

#script .module.selected {
  background-color: rgb(30,30,30) !important;

}

#script .module img {
  margin-right: 6px;
  margin-bottom: 6px;
  -webkit-filter: url(#script-image-filter);
}

svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#lightbox-image {
  opacity: 0.3;
}

.toolbar {
  min-width: 1333px;
  overflow: hidden;
}

.toolbar-button-group {
  margin-right: 10px;
  display: block;
  position: relative;
  float: left;
}


.toolbar-button {
  background-color: #3e3e3e;
  border-radius: 0px;
  width: 44px;
  height: 36px;
  background-image:url('../img/spritesheet.png');
  float: left;
  margin-right: 1px;
}

.toolbar-button.disabled {
  background-color: rgb(62, 62, 62);
  opacity: 0.2;
}

.toolbar-button-group .toolbar-button:first-child {
  border-radius: 3px 0 0 3px;
}

.toolbar-button-group .toolbar-button:last-child {
  border-radius: 0 3px 3px 0;
}


.toolbar-button-color {
  background-color: #3e3e3e;
  border-radius: 0px;
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 1px;
  padding-top: 5px;
  background-image:none;
}

.toolbar-button-group .toolbar-button-color:first-child {
  padding-left: 5px;
  width: 41px;
}

.toolbar-button-group .toolbar-button-color:last-child {
    padding-right: 5px;
    width: 41px;
}



.toolbar-button-color div {
  display: block;
  width: 36px;
  height: 26px;
  background-color: rgb(0,0,0);
}

.toolbar-button-color div.color-1 {
  background-color: #cec9ff;
}

.toolbar-button-color div.color-2 {
  background-color: #dddaff;
}

.toolbar-button-color div.color-3 {
  background-color: #f1efff;
}

.toolbar-button-color div.color-4 {
  background-color: #000000;
}

.toolbar-button-color div.color-5 {
  background-color: #989898;
}

.toolbar-button-color div.color-6 {
  background-color: #bcbcbc;
}

.toolbar-button-color div.color-7 {
  background-color: #e4e4e4;
}

.toolbar-button-color div.color-8 {
  background-color: #ffffff;
}

.toolbar-button-color div.color-9 {
  background-color: #ff5c5c;
}

.toolbar-button-color div.color-10 {
  background-color: #84c679;
}

.toolbar-button-color div.color-11 {
  background-color: #554db8;
}



.toolbar-button:not(.disabled):hover {
  background-color: #555;
}

.toolbar-button.selected:not(.disabled) {
  background-color: #666;
}



.toolbar-button.new-board {
  background-position: 0px 0px;
}

.toolbar-button.remove-board {
  background-position: -45px 0px;
}

.toolbar-button.stats {
  background-position: -90px 0px;
}

.toolbar-button.export {
  background-position: -135px 0px;
}

.toolbar-button.recording {
  background-position: -315px 0px;
  border-radius: 3px 0 0 3px;
}

.toolbar-button.record {
  background-position: -360px 0px;
}

.toolbar-button.previous {
  background-position: -405px 0px;
}

.toolbar-button.play {
  background-position: -450px 0px;
}

.toolbar-button.next {
  background-position: -495px 0px;
}

.toolbar-button.pause {
  background-position: -540px 0px;
}

.toolbar-button.undo {
  background-position: -765px 0px;
}

.toolbar-button.redo {
  background-position: -810px 0px;
}

.toolbar-button.copy {
  background-position: -855px 0px;
}

.toolbar-button.paste {
  background-position: -900px 0px;
}

.toolbar-button.guide {
  background-position: -945px 0px;
}

.toolbar-button.lightbox {
  background-position: -990px 0px;
}

.toolbar-button.paint {
  background-position: -1035px 0px;
}

.toolbar-button.pencil {
  background-position: -1080px 0px;
}

.toolbar-button.pen {
  background-position: -1125px 0px;
}

.toolbar-button.expand-notes {
  background-position: -1395px 0px;
}

.toolbar-button.auto-indent {
  background-position: -1440px 0px;
}

.toolbar-button.fountain-help {
  background-position: -1485px 0px;
}

#scriptpane {
  float: left;
  background-color: rgb(0,0,0);
  overflow-y: scroll;
  overflow-x: hidden;
}

#scripttext {
  position: relative;
  background-color: white;
  padding: 80px 20px;
  margin: 40px auto;
  overflow-x: hidden;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#scene-colorbars-container {
  width: 10px;
  position: absolute;
  transition: all ease-out 0.2s;
  opacity: 0.7; 
}

#scene-colorbars-container:hover {
  width: 18px;
  border-right: 1px solid rgba(0,0,0,0.1);
  opacity: 1; 
}

.metadata {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 70%;
  z-index: 120;
  -webkit-user-select: none;
}

.timer-timeleft {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 20px;
  z-index: 121;
}

.timer-duration {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 20px;
  text-align: center;
  z-index: 122;
  color: white;
  font-weight: bold;
}

.timer-duration:not(.disabled) {
  cursor: ew-resize;
}

.timer-duration div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.modal {
  overflow-y: auto;
}

#scriptpane {
  overflow-y: auto;
}

.character {
  color: rgba(255,255,255,0.6);
  font-weight: 500;
}