doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Storyboard Fountain Player
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/lib/css/bootstrap.css")
    link(rel="stylesheet", media="all", href="/css/main.css")
    //script(src="js/libs/modernizr-2.6.2-respond-1.1.0.min.js")
    block scripts
  body
    block content
