extend layout

block content
  .toolbar

  div
    .drawing-canvas
      .canvas.white-bg
      img#current-image(style="z-index: 106;")
      .canvas
        #current-image-text(style="z-index: 107;")
      #current-text.caption

  .control-bar-container
    .control-bar
      .scrubber
        .playhead-bar
        .dragger-container
        .current-location
      .controls
        .play-button
          span.glyphicon.glyphicon-play.state-playing
          span.glyphicon.glyphicon-pause.state-paused(style="display: none")
        .volume-button
          span.glyphicon.glyphicon-volume-off
        .timing
          span.playhead-time
          span.divider /
          span.duration
        .font-button
          span.glyphicon.glyphicon-font

  script(src="/js/modernizr-2.6.2-respond-1.1.0.min.js")
  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/jquery-ui/ui/jquery-ui.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.js")
  script(src="/lib/underscore/underscore.js")
  script(src="/lib/handlebars/handlebars.js")
  script(src="/js/fountain.js")
  script(src="/app/display.js")
  script(src="/app/player.js")
  script(src="/app/timeline.js")
  script(src="/app/script.js")
  script.
    window.key = !{JSON.stringify(share.key)};
    window.dataUrl = !{JSON.stringify(dataUrl)};
  script
    :coffee
      player.loadShare(key)

  script#title-template(type="text/x-handlebars-template")
    div {{text}}

  script#transition-template(type="text/x-handlebars-template")
    div {{text}}

  script#action-template(type="text/x-handlebars-template")
    div {{text}}

  script#parenthetical-template(type="text/x-handlebars-template")
    div {{text}}

  script#dialogue-template(type="text/x-handlebars-template")
    {{#each texts}}
    p
      div {{character}}
      div {{text}}
    {{/each}}
